@model IEnumerable<Inspetor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inspetores</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Novo</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especializacao)
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especializacao)
        </td>

        <td>
            <a asp-controller="Inspetor" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
            <a asp-controller="Inspetor" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
            <a asp-controller="Inspetor" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
