@model Vistoria

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>
<h2>Vistoria</h2>

<div class="row">
    <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Veiculo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Veiculo.Tie)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Data)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Data)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NivelRuido)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NivelRuido)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Resultado)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Resultado)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Observacoes)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Observacoes)
    </dd>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
